<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrar Cita Médica</title>
  </head>
  <body>
    <h2>Registro de Cita Médica</h2>
    <form id="form-cita">
      <label for="nombre-mascota-cita">Nombre de la Mascota:</label>
      <input type="text" id="nombre-mascota-cita" required /><br />
  
      <label for="fecha-cita">Fecha de la Cita:</label>
      <input type="date" id="fecha-cita" required /><br />
  
      <label for="motivo">Motivo:</label>
      <input type="text" id="motivo" required /><br />
  
      <button type="submit">Registrar Cita</button>
    </form>
  </body>
</html>