<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Registrar Usuario</title>
  </head>

  <body>
    <nav>
      <div class="nav__header">
        <div class="nav__logo">
          <a href="#">Centro de Amigos Peludos</a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
          <i class="ri-menu-line"></i>
        </div>
      </div>
      <ul class="nav__links" id="nav-links">
        <li><a href="/templates/home.html">Inicio</a></li>
        <li>
          <a href="/templates/registrar_mascota.html">Registrar Mascota</a>
        </li>
        <li><a href="/templates/registrar_cita.html">Registrar Cita</a></li>
        <li>
          <a href="/templates/consultar_usuarios.html">Consultar Usuarios</a>
        </li>
        <li><a href="/templates/consultar_citas.html">Consultar Citas</a></li>
      </ul>
    </nav>

    <header id="home">
      <div class="section__container header__container">
        <div class="header__content">
          <h2>Registro de Usuario</h2>

          <form class="form" id="form-usuario">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required /><br />

            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required /><br />

            <label for="cedula">Cedula</label>
            <input
              type="text"
              id="cedula"
              name="cedula"
              required
              pattern="\d{7,10}"
              title="La cédula debe tener entre 7 y 10 dígitos"
            /><br />

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />
            <br />

            <label for="password">Contraseña:</label>
            <input
              type="password"
              id="password"
              name="password"
              required
              pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{7,10}$"
              title="La contraseña debe tener entre 7 y 10 caracteres, incluyendo al menos una letra y un número."
            />
            <br />
            <label for="celular">Celular</label>
            <input
              type="tel"
              id="celular"
              name="celular"
              required
              pattern="\d{10}"
              title="El número de celular debe tener exactamente 10 dígitos."
              placeholder="Ej: 3001234567"
            />
            <br /><br />
            <input
              type="radio"
              id="acepta"
              name="condiciones"
              value="acepto"
              required
            />
            <label for="acepta">Acepto las condiciones</label>
            <input
              type="radio"
              id="no-acepta"
              name="condiciones"
              value="no-acepto"
              required
            />
            <label for="no-acepta">No acepto las condiciones</label>
            <br />

            <div class="header__btn">
              <button type="submit">
                Registrar
                <span><i class="ri-arrow-right-line"></i></span>
              </button>
            </div>
          </form>
        </div>
        <div class="header__image">
          <img
            src="/static/images/header-bg.png"
            alt="header-bg"
            class="header__image-bg"
          />
          <img
            src="/static/images/hombre_perro_gato-removebg-preview.png"
            alt="header"
          />
        </div>
      </div>
      <div class="header__bottom"></div>
    </header>

    <footer id="contact">
      <div class="section__container footer__container">
        <div class="footer__col">
          <div class="footer__logo">
            <a href="#">Centro de Amigos Peludos</a>
          </div>
        </div>
        <div class="footer__col">
          <ul class="footer__links">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Tienda</a></li>
          </ul>
        </div>
        <div class="footer__col">
          <br />
          <h4>Síguenos</h4>
          <ul class="footer__socials">
            <li>
              <a href="#"><i class="ri-facebook-fill"></i></a>
            </li>
            <li>
              <a href="#"><i class="ri-twitter-fill"></i></a>
            </li>
            <li>
              <a href="#"><i class="ri-youtube-fill"></i></a>
            </li>
            <li>
              <a href="#"><i class="ri-pinterest-line"></i></a>
            </li>
            <li>
              <a href="#"><i class="ri-instagram-line"></i></a>
            </li>
            <li>
              <a href="#"><i class="ri-tiktok-fill"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__bar">
        Derechos de autor © 2024 Eleazar Chusmita. Todos los derechos
        reservados.
      </div>
    </footer>
  </body>
  <script src="/static/js/scripts.js"></script>
</html>
